main {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.prodcuts-section {
    width: 75%;
}

.filter-section {
    width: 33%;
    height: 1580px;
    padding: 3rem;

}